// @import '../../_setting.scss';
.footer {
    border-top: 4px solid var(--orangeC);
    background-color: #ebebeb;
    justify-content: first baseline;
    align-items: center;
    padding: 5px 5px 5px 10px;
    display: flex;
    &-logo-image {
        cursor: pointer;
        margin-right: 1;
        height: 100%;
        width: 50px;
        border-radius: 25px;
    }
    &-contact-us {
        align-items: center;
        .footer-logo-fb {
            margin-right: 1;
            height: 100%;
            width: 40px;
            border-radius: 20px;
            padding-left: 5px;
        }
    }
    .email {
        width: 400px;
        padding: 0 0 0 10px;
    }
    .polici {
        text-align: center;
        padding: 0 10px;
    }
}
