.wrapper {
    width: 30%;
    padding: 20px 10px;
    flex-wrap: wrap;
    background-color: var(--bgcl);
    border: 1px solid rgb(141, 234, 249);
    border-radius: var(--radius);
    margin-bottom: 10px;
    @media (max-width: 820px) {
        width: 100%;
    }
}
.container-button {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
    height: auto;

    .top-view {
        width: 100%;
        background-color: aliceblue;
        border: 1px solid var(--orangeC);
    }
    .active {
        background-color: var(--orangeC);
    }
}

.list-comic {
    padding: 10px 0 0 0;
}
